@page
@model emallo1BAIS3150CodeSample.Pages.FindStudentModel
@{
    ViewData["Title"] = "BAIS3150 Code Sample";
}
@section scriptContent
    {
        <script></script>
    }

@section headerContent
    {
    <table>
        <tr><td><h1>BAIS3150 Code Sample.......</h1></td><td><h3>[Find Student]</h3></td></tr>
    </table>
}

<form name="FindStudentForm" method="post">
    <table id="table">
        <tr>
            <td>Enter Student ID:</td>
            <td>
                <input type="text" asp-for="StudentID" />
                <span asp-validation-for="StudentID"></span>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Find" name="Find" />                
            </td>
        </tr>
        <tr>
    </table>
</form>

<br /><br />
@Model.Message
@if (Model.MessageResponse == true)
{    
    
    <table border="1">
        
        <tr>
            <td>Student ID:</td>
            <td>@Model.EnrolledStudent.StudentID</td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td>@Model.EnrolledStudent.FirstName</td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td>@Model.EnrolledStudent.LastName</td>
        </tr>
        <tr>        
            <td>Email:</td>
            <td>@Model.EnrolledStudent.Email</td>
        </tr>
    </table>    
}

     