<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="~/images/BAISTFavoritesIcon.ico" />
    <!-- /wwwroot/css-->
    <link rel="stylesheet" href="~/css/SampleBlueStyle.css" />
    <script type="text/javascript">
        <script src="~/libraries/jquery/jquery.js" ></script>
    <script src="~/libraries/jquery-validate/jquery.validate.js"></script>
    <script src="~/libraries/jquery-validate-unobtrusive/jquery.validate.unobtrusive.js"></script>
    //script from layou
    </script>
    @RenderSection("ScriptContent", required: false)   <!-- render a section-->
</head>
<body>
    <header>
        @if (IsSectionDefined("headerContent"))
        {
            @RenderSection("headerContent")
        }
    </header>

    <nav>
        <table cellpadding="1" cellspacing="5">
            <tr>
                <td><a href="~/index" hidden>Home</a> </td>                
                <td><a href="~/RegisterCourses">Register Courses </a> </td>

<!--           <td><a href="~/CreateProgram">Create Program</a> </td>
                <td><a href="~/EnrollStudent">Enroll Student</a> </td>
                 <td><a href="~/RegisterCourses">RegisterCourses</a> </td>
                <td><a href="~/FindProgram">Find Program</a></td>
                <td><a href="~/DisplayPrograms">Display Programs</a></td>
                <td><a href="~/FindStudent">Find Student</a></td>
                <td><a href="~/ModifyStudent">Modify Student</a></td>
                <td><a href="~/RemoveStudent">Remove Student</a></td>

                <td><a href="~/UpdareExamScore">Update ExamScore[L]</a> </td>

                <td><a href="~/CreateMajor">Create Major</a> </td>
                <td><a href="~/CreateCourse">Create Courses</a> </td> -->
                <td><a href="~/CheckGrade">Check Result</a></td>
                <td><a href="~/CheckGradeVulnerable">Check Result2</a></td>

                
            </tr>
        </table>
    </nav>
    <main>
        @RenderBody()
    </main>
    <footer>
        <table>
            <tr>
                <td>....contact us for all your software services</td>
            </tr>
            <tr>
                <td>Contact us</td>
            </tr>
        </table>
        @if (IsSectionDefined("footerContent")) //another way to render a section
        {
            @RenderSection("footerContent")
        }
    </footer>





</body>
</html>